*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#030917;
color:white;

}

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 50px;

border-bottom:1px solid #222;

}

header p{

color:#aaa;
margin-top:5px;

}

.about-btn{

padding:12px 25px;
border:none;

border-radius:10px;

background:#111827;
color:white;

cursor:pointer;

}

.main{

display:flex;
gap:30px;

padding:30px;

}

.left{

width:35%;

}

.right{

width:65%;

}

.card{

background:#071425;

padding:25px;

border-radius:20px;

margin-bottom:25px;

border:1px solid #16253f;

box-shadow:0 0 15px rgba(0,0,255,.1);

}

.card h2{

margin-bottom:20px;

}

input{

width:100%;
padding:15px;

background:#101b2e;

border:none;

color:white;

border-radius:10px;

}

button{

margin-top:20px;

width:100%;
padding:15px;

background:linear-gradient(
90deg,
#6f42ff,
#8b5cf6
);

border:none;

color:white;

font-size:18px;

border-radius:10px;

cursor:pointer;

}

.progress{

height:15px;

background:#111;

border-radius:20px;

overflow:hidden;

margin-top:20px;

}

#bar{

height:100%;
width:0%;

background:linear-gradient(
90deg,
#6f42ff,
#9d4edd
);

}

.scan-box{

position:relative;

}

.scan-box img{

width:100%;
height:500px;

object-fit:cover;

border-radius:20px;

}

.mark{

position:absolute;

width:120px;
height:120px;

border:6px solid red;

border-radius:50%;

display:none;

top:180px;
left:350px;

}